body{
    background:deepskyblue;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin: 15px;
    background:#33F2FF;
    border-radius:25px;
}

.assignment img {
    width:200px;
    padding:5px;
    margin:10px;
    border:3px solid #3358FF;
}

.assignment img:hover {
    border:3px dashed #fff;
}

h1{
    color:white;
    text-align: center;
}

a {
    text-decoration: none;
    color:#3358FF;
}

a:hover {
    color:white;
}